{% extends "usuario/base.html" %}

{% block title %} Categorías {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Gestión de categorías</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'categoria_create' %}" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="Nombre_Catego" name="Nombre_Catego" class="form-control" placeholder="Nombre de Categoría" minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Categorías</h1>
        <div class="table-responsive py-2">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in categorias %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ c.Nombre_Catego }}</td>
                        <td><a href="{% url 'categoria_update' c.pk %}" class="btn btn-info">Editar</a></td>
                        <td><a href="{% url 'categoria_delete' c.pk %}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
