{% extends "usuario/base.html" %}

{% block title %} Añadir/Editar Precio {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>{{ form.instance.pk|yesno:"Editar Precio,Añadir Precio" }}</h2>
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">{{ form.instance.pk|yesno:"Actualizar,Añadir" }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
