<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="{% static 'usuario/css/pagina1.css' %}">
  <title>Pagina4</title>
  <style>
    .carousel-item img {
      border-radius: 15px;
      object-fit: cover;
      height: 400px;
    }
    .carousel-caption {
      background: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border-radius: 10px;
    }
    .carousel-caption h5 {
      font-size: 2rem;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
    .carousel-caption p {
      font-size: 1.25rem;
      color: #ffffff;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    }
    .carousel-indicators button {
      background-color: #ffffff;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- Agrega una clase "blink" al navbar-brand -->
      <a class="navbar-brand blink" href="{% url 'Pagina1' %}">BAJONEA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'Pagina1' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pagina2' %}">Verduras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pagina3' %}">Frutas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pagina4' %}">Carnes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Pagina5' %}">Lácteos</a>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-outline-primary me-2" onclick="mostrarFormularioRegistro()">Registrarse</button>
          <button class="btn btn-outline-primary" onclick="mostrarFormularioLogin()">Login</button>
        </div>
      </div>
    </div>
  </nav>

  <script>
    // Agrega una clase de parpadeo al navbar-brand
    $(document).ready(function() {
      setInterval(function() {
        $('.blink').toggleClass('blinking');
      }, 1000); // Cambia el intervalo de tiempo si deseas un parpadeo más rápido o lento
    });
  </script>

  <!-- Formularios de Registro y Login -->
  <div class="container">
    <div id="formulario-registro" style="display: none;">
      <h2>Registrarse</h2>
      <form action="{% url 'Pagina6' %}" method="post" onsubmit="return validarRegistro()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" id="nombre" name="nombre" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo:</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono:</label>
          <input type="text" id="telefono" name="telefono" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="contraseña" class="form-label">Contraseña:</label>
          <input type="password" id="contraseña" name="contraseña" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="confirmar_contraseña" class="form-label">Confirmar Contraseña:</label>
          <input type="password" id="confirmar_contraseña" name="confirmar_contraseña" class="form-control" required>
        </div>
        <input type="submit" value="Enviar" class="btn btn-primary">
        <button type="button" class="btn btn-secondary" onclick="cerrarFormularioRegistro()">Cerrar</button>
      </form>
    </div>

    <div id="formulario-login" style="display: none;">
      <h2>Iniciar Sesión</h2>
      <form action="{% url 'Pagina6' %}" method="post" onsubmit="return validarLogin()">
        <div class="mb-3">
          <label for="correo" class="form-label">Correo:</label>
          <input type="email" id="correo" name="correo" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="contraseña_login" class="form-label">Contraseña:</label>
          <input type="password" id="contraseña_login" name="contraseña_login" class="form-control" required>
        </div>
        <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
        <button type="button" class="btn btn-secondary" onclick="cerrarFormularioLogin()">Cerrar</button>
      </form>
    </div>
  </div>

  <!-- Carrusel -->
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% url 'Pagina2' %}">
          <img src="{% static 'usuario/img/cebollas 4.jpg' %}" class="d-block w-100" alt="Oferta1" style="border: 10px solid black;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Las mejores Cebollas a mejor precios</h5>
          <p>¡Cebollas frescas con un 20% de descuento! ¡Solo por tiempo limitado! Visítanos ahora.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'Pagina3' %}">
          <img src="{% static 'usuario/img/platano 5.jpg' %}" class="d-block w-100" alt="Oferta2" style="border: 10px solid black;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Las mejores Platanos a mejor precios</h5>
          <p>¡Descuento especial en plátanos frescos! ¡Ahorra un 30% en todos nuestros plátanos! ¡No te pierdas esta oferta limitada! Visítanos hoy mismo.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'Pagina4' %}">
          <img src="{% static 'usuario/img/Carne vacuno 3.jpg' %}" class="d-block w-100" alt="Oferta3" style="border: 10px solid black;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Las mejores Carnes a mejores precios</h5>
          <p>¡Oferta imperdible en carne fresca! ¡Ahorra un 25% en todos los cortes de carne en nuestra tienda! ¡Calidad y sabor al mejor precio! Visítanos ya.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'Pagina5' %}">
          <img src="{% static 'usuario/img/Lacteos.jpg' %}" class="d-block w-100" alt="Oferta4" style="border: 10px solid black;">
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>Las mejores Leches a mejor precios</h5>
          <p>¡Promoción exclusiva en leche fresca! ¡Lleva la mejor leche a tu mesa con un 15% de descuento! ¡No dejes pasar esta oportunidad! Visítanos y aprovecha.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <script>
    // Activar el deslizamiento automático cada 3 segundos
    document.addEventListener('DOMContentLoaded', function () {
      var myCarousel = document.querySelector('#carouselExampleCaptions');
      var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 3000,
      });
    });
  </script>

  <br>
  <h1>CARNES</h1>
  <h2>compara los precios</h2>
  <p>siempre cuidando tu bolsillo</p>
  <ul>
    <li>
      <img src="{% static 'usuario/img/pechuga-entera-super-pollo.jpg' %}" alt="pechuga de pollo">
      <p class="descripcion">lider: $1000 el kilo <br> santa isabel: $1900 kilo <br> el trebol: $990 el kilo <br>
        tottus: $1910 el kilo</p>
    </li>
    <br>
    <li>
      <img src="{% static 'usuario/img/carne vacuno los tineos.jpg' %}" alt="vacuno">
      <p class="descripcion">lider: $1000 el kilo <br> santa isabel: $1900 kilo <br> el trebol: $990 el kilo <br>
        tottus: $1910 el kilo</p>
    </li>
    <br>
    <li>
      <img src="{% static 'usuario/img/costillas a la chilena super cerdo.jpg' %}" alt="costillar">
      <p class="descripcion">lider: $1000 el kilo <br> santa isabel: $1900 kilo <br> el trebol: $990 el kilo <br>
        tottus: $1910 el kilo</p>
    </li>
    <br>
    <li>
      <img src="{% static 'usuario/img/la preferida jamon pierna.jpg' %}" alt="jamon">
      <p class="descripcion">lider: $1000 el kilo <br> santa isabel: $1900 kilo <br> el trebol: $990 el kilo <br>
        tottus: $1910 el kilo</p>
    </li>
    <br>
    <li>
      <img src="{% static 'usuario/img/tocino la preferida.jpg' %}" alt="tocino">
      <p class="descripcion">lider: $1000 el kilo <br> santa isabel: $1900 kilo <br> el trebol: $990 el kilo <br>
        tottus: $1910 el kilo</p>
    </li>
  </ul>
  <br>

  <p id="bajonea">Tu bienestar es nuestra prioridad, por eso te ofrecemos información sobre las farmacias de turno en todo Chile.</p>

  <script>
    $(document).ready(function() {
      // Función para animar el párrafo al hacer clic en él
      $('#bajonea').click(function() {
        $(this).animate({ fontSize: '24px', opacity: '0.5' }, 'slow');
      });
    });
  </script>

  <!-- Sección de Farmacias -->
  <div class="farmacias-carousel" id="farmaciasCarousel"></div>
  <script src="obtenerFarmacias.js"></script>

  <!-- Scripts para Formularios -->
  <script>
    function mostrarFormularioRegistro() {
      document.getElementById("formulario-registro").style.display = "flex";
      document.getElementById("formulario-login").style.display = "none";
    }

    function cerrarFormularioRegistro() {
      document.getElementById("formulario-registro").style.display = "none";
    }

    function mostrarFormularioLogin() {
      document.getElementById("formulario-login").style.display = "flex";
      document.getElementById("formulario-registro").style.display = "none";
    }

    function cerrarFormularioLogin() {
      document.getElementById("formulario-login").style.display = "none";
    }

    function validarRegistro() {
      var nombre = document.getElementById("nombre").value;
      var email = document.getElementById("email").value;
      var telefono = document.getElementById("telefono").value;
      var contraseña = document.getElementById("contraseña").value;
      var confirmar_contraseña = document.getElementById("confirmar_contraseña").value;

      // Verificar que todos los campos estén llenos
      if (nombre === "" || email === "" || telefono === "" || contraseña === "" || confirmar_contraseña === "") {
        alert("Por favor, llene todos los campos.");
        return false;
      }

      // Validar que el teléfono solo contenga números y tenga una longitud mínima de 10 dígitos
      var telefonoRegex = /^[0-9]{10,}$/;
      if (!telefonoRegex.test(telefono)) {
        alert("El teléfono debe contener solo números y tener al menos 10 dígitos.");
        return false;
      }

      // Validar que las contraseñas tengan una longitud mínima de 8 caracteres y contengan al menos un número
      var contraseñaRegex = /^(?=.*[0-9]).{8,}$/;
      if (!contraseñaRegex.test(contraseña)) {
        alert("La contraseña debe tener al menos 8 caracteres y contener al menos un número.");
        return false;
      }

      // Validar que las contraseñas coincidan
      if (contraseña !== confirmar_contraseña) {
        alert("Las contraseñas no coinciden.");
        return false;
      }

      // Validar que el nombre solo contenga letras y espacios
      var nombreRegex = /^[A-Za-z\s]+$/;
      if (!nombreRegex.test(nombre)) {
        alert("El nombre solo debe contener letras y espacios.");
        return false;
      }

      // Si todas las validaciones pasan, se mostrará el mensaje de "Usuario registrado"
      alert("Usuario registrado");
      cerrarFormularioRegistro(); // Cerrar el formulario de registro
      return true;
    }

    function validarLogin() {
      var correo = document.getElementById("correo").value;
      var contraseña_login = document.getElementById("contraseña_login").value;

      // Verificar que ambos campos estén llenos
      if (correo === "" || contraseña_login === "") {
        alert("Por favor, llene todos los campos.");
        return false;
      }

      // Validar que el correo tenga un formato válido
      var correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!correoRegex.test(correo)) {
        alert("Por favor, ingrese un correo válido.");
        return false;
      }

      // Validar que la contraseña en el formulario de inicio de sesión tenga una longitud mínima de 8 caracteres
      if (contraseña_login.length < 8) {
        alert("La contraseña debe tener al menos 8 caracteres.");
        return false;
      }

      // Si todas las validaciones pasan, se mostrará el mensaje de "Acceso concedido"
      alert("Acceso concedido");
      cerrarFormularioLogin(); // Cerrar el formulario de login
      return true;
    }
  </script>

  <div id="openModal" class="modalDialog">
    <div>
      <a href="#close" title="Close" class="close">X</a>
      <h2>Nos ubicamos</h2>
      <p>Calle siempre viva.</p>
      <p>Oficina 777 Providencia, Santiago Chile.</p>
    </div>
  </div>
  <div class="a1">
    <a href="#openModal" type="button" class="btn btn-primary">contacto</a>
  </div>

  <!-- Elemento para mostrar la fecha y hora -->
  <div id="currentDateTime"></div>

  <!-- Script para actualizar la fecha y hora -->
  <script>
    function getCurrentDateTime() {
      const now = new Date();
      const options = {
        year: 'numeric',
        month: 'numeric',
        day: 'numeric',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
        hour12: false
      };
      return now.toLocaleString('es-ES', options);
    }

    function updateDateTime() {
      const currentDateTime = getCurrentDateTime();
      document.getElementById('currentDateTime').innerText = 'Fecha y hora actual: ' + currentDateTime;
    }

    setInterval(updateDateTime, 1000);
    updateDateTime();
  </script>

  <footer class="footer">
    <hr>
    <p style="text-align: center;">© 2024 Todos los derechos reservados.</p>
  </footer>
</body>

</html>
